body {
  margin: 0;
  padding: 0;
}

/* Navbar */

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: unset !important;
  /* box-shadow */
}

/* Header */

.slider-slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Content */

.container {
  margin: 0 auto;
}

.content1 {
  background: url('https://cdn.pixabay.com/photo/2019/04/22/03/38/marble-4145542_1280.jpg');
  justify-content: space-between;
  position: relative;
}

.c1-img, .c1-img2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.c1-img img, .c1-img2 img {
  width: 300px;
  height: 250px;
  margin: 10px;
}

.c1-text {
  position: absolute;
  top: 30%;
  width: 300px;
  left: 5%;
}

@media screen and (max-width: 1000px) {
  .content1 {
    position: unset;
  }
  .c1-text {
    position: unset;
    text-align: center;
    margin: 0 auto;
  }
  .c1-img, .c1-img2 {
    justify-content: center;
  }
}

/* Content 2 */

.content2 {
  margin-top: 100px;
}

/* Adaptive */

@media screen and (max-width: 370px) {
  .c1-text {
    width: unset;
  }
  .c1-img img, .c1-img2 img {
    width: 240px;
    height: 190px;
  }
}